<!DOCTYPE html>
<html>
    <title>Dry Bean Data Set Classification </title>
<body>

<style>
    body {
        text-align: center;
    }
    form {
        display: inline-block;
    }
    </style>
<form action="name" method="post">
    <div style="background-color:#025246 ;padding:10px">
    <h2 style="color:white;text-align:center;">Dry Bean Classification </h2>
    </div>
    <br>
    <br>
    <label for="area">Enter Area: </label>
    <input type="text" id="area" name="area"  required>
    <br>
    <br>
    <label for="sw">Enter Sepal Width: </label>
    <input type="text" id="sw"  name="sw"  required>
    <br>
    <br>
    <label for="pl">Enter Petal Length: </label>
    <input type="text" id="pl" name="pl"  required>
    <br>
    <br>
    <label for="pw">Enter Petal width: </label>
    <input type="text" id="pw" name="pw"  required>
    <br>
    <br>
    <input type="submit">
</form>

</body>
</html>